<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" media="all" />
    <link rel="stylesheet" th:href="@{/css/docs.min.css}" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all" />
    <script th:src="@{/js/jquery.min.js}"></script>

    <!--//theme style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script th:src="@{/js/simpleCart.min.js}"></script>
    <!-- start menu -->
    <link rel="stylesheet" th:href="@{/css/memenu.css}" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{/js/memenu.js}"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!-- /start menu -->
</head>
<body>
<!--header-->
<script th:src="@{/js/responsiveslides.min.js}"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
        });
    });
</script>

<div class="header-top">
    <div class="header-bottom">
        <div class="logo">
            <h1><a href="/page/toIndex">Lighting</a></h1>
        </div>
        <!---->
        <div class="top-nav">
            <ul class="memenu skyblue"><li class="active"><a href="/page/toIndex">Home</a></li>
                <li class="grid"><a href="#">Products</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a href="#">Accessories</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a href="/page/toTypo">Typo</a></li>
                <li class="grid"><a href="/page/toContact">Contact</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <!---->
        <div class="cart box_1">
            <a href="/page/toCheckout">
                <div class="total">
                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <!---->
    </div>
    <div class="clearfix"> </div>
</div>
<!---->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/page/toIndex">Home</a></li>
        <li class="active">Account</li>
    </ol>
    <div class="registration">
        <div class="registration_left">
            <h2>new user? <span> create an account </span></h2>
            <!-- [if IE]
               < link rel='stylesheet' type='text/css' href='ie.css'/>
            [endif] -->

            <!-- [if lt IE 7]>
               < link rel='stylesheet' type='text/css' href='ie6.css'/>
            <! [endif] -->
            <script>
                (function() {

                    // Create input element for testing
                    var inputs = document.createElement('input');

                    // Create the supports object
                    var supports = {};

                    supports.autofocus   = 'autofocus' in inputs;
                    supports.required    = 'required' in inputs;
                    supports.placeholder = 'placeholder' in inputs;

                    // Fallback for autofocus attribute
                    if(!supports.autofocus) {

                    }

                    // Fallback for required attribute
                    if(!supports.required) {

                    }

                    // Fallback for placeholder attribute
                    if(!supports.placeholder) {

                    }

                    // Change text inside send button on submit
                    var send = document.getElementById('register-submit');
                    if(send) {
                        send.onclick = function () {
                            this.innerHTML = '...Sending';
                        }
                    }

                })();
            </script>
            <div class="registration_form">
                <!-- Form -->
                <form>
                    <div>
                        <label>
                            <input placeholder="first name" type="text" tabindex="1">
                        </label>
                    </div>
                    <div>
                        <label>
                            <input placeholder="last name" type="text" tabindex="2">
                        </label>
                    </div>
                    <div>
                        <label>
                            <input placeholder="email address" type="email" tabindex="3">
                        </label>
                    </div>
                    <div>
                        <label>
                            <input placeholder="Mobile" type="email" tabindex="3">
                        </label>
                    </div>
                    <div class="sky_form1">
                        <ul>
                            <li><label class="radio left"><input type="radio" name="radio" checked=""><i></i>Male</label></li>
                            <li><label class="radio"><input type="radio" name="radio"><i></i>Female</label></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <label>
                            <input placeholder="password" type="password" tabindex="4">
                        </label>
                    </div>
                    <div>
                        <label>
                            <input placeholder="retype password" type="password" tabindex="4">
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="create an account" id="register-submit">
                    </div>
                    <div class="sky-form">
                        <label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>i agree Terms & conditions &nbsp;<a class="terms" href="#"> terms of service</a> </label>
                    </div>
                </form>
                <!-- /Form -->
            </div>
        </div>
        <div class="registration_left">
            <h2>existing user</h2>
            <div class="registration_form">
                <!-- Form -->
                <form>
                    <div>
                        <label>
                            <input placeholder="email" type="email" tabindex="3" required>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input placeholder="password" type="password" tabindex="4" required>
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="sign in">
                    </div>
                    <div class="forget">
                        <a href="#">forgot your password</a>
                    </div>
                </form>
                <!-- /Form -->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
<div class="subscribe">
    <div class="container">
        <h3>Newsletter</h3>
        <form>
            <input type="text" class="text" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>
<!---->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 about-us">
                <h3>About Us</h3>
                <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Information</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">New Products</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Our Stores</a></li>
                    <li><a href="#">Best Sellers</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>More Info</h3>
                <ul class="nav-bottom">
                    <li><a href="/page/toLogin">Login</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/page/toContact">Contact</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Categories</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Car Lights</a></li>
                    <li><a href="#">LED Lights</a></li>
                    <li><a href="#">Decorates</a></li>
                    <li><a href="#">Wall Lights</a></li>
                    <li><a href="#">Protectors</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="copywrite">
    <div class="container">
        <div class="copy">
            <p>Copyright &copy; 2016.Company name All rights reserved.</p>
        </div>
        <div class="social">
            <a href="#"><i class="facebook"></i></a>
            <a href="#"><i class="twitter"></i></a>
            <a href="#"><i class="dribble"></i></a>
            <a href="#"><i class="google"></i></a>
            <a href="#"><i class="youtube"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
</body>
</html>