<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Custom Theme files -->
    <!--theme style-->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
    <script th:src="@{/js/jquery.min.js}"></script>


    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script th:src="@{/js/simpleCart.min.js}"></script>
    <!-- start menu -->
    <link rel="stylesheet" th:href="@{/css/memenu.css}" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{/js/memenu.js}"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!-- /start menu -->
</head>
<body>
<!-- header -->
<div class="header-top">
    <div class="header-bottom">
        <div class="logo">
            <h1><a href="/page/toIndex">Lighting</a></h1>
        </div>
        <!---->
        <div class="top-nav">
            <ul class="memenu skyblue"><li><a href="/page/toIndex">Home</a></li>
                <li><a href="#">Products</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a href="#">Accessories</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="/page/toTypo">Typo</a></li>
                <li class="grid"><a href="/page/toContact">Contact</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <!---->
        <div class="cart box_1">
            <a href="checkout.html">
                <div class="total">
                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <!---->
    </div>
    <div class="clearfix"> </div>
</div>
<!-- check out -->

<div class="container">
    <div class="check-sec">
        <div class="col-md-9 cart-items">
            <h1>我的购物车</h1>
            <form method="post" action="/check/addcheck">
                <input type="hidden" name="price" id="price">
                <input type="hidden" name="repertorycont" id="repertorycont">
                <input type="hidden" name="id" id="id">
                <input type="hidden" name="count" id="count">
                <table cellspacing="0" class="shop_table cart">
                    <thead>
                    <tr>
                        <th class="product-remove"></th>
                        <th class="product-thumbnail"></th>
                        <th class="product-name"></th>
                        <th class="product-repertorycont"></th>
                        <th class="product-price"></th>
                        <th class="product-quantity"></th>
                        <th class="product-subtotal"></th>
                    </tr>
                    </thead>
                    <tbody id="bodys">

                    </tbody>
                    <tr>
                        <td class="actions" colspan="6">
                            <input type="button" value="计算总价格" onclick="ss()" class="button">
                            <input type="text" size="6px" name="pricesums" id="pricesums" onfocus="this.blur()">元
                            <input type="submit" value="提交订单" name="proceed" class="checkout-button button alt wc-forward">
                            <!--<input type="button" value="提交订单" onclick="onsubmit()" >-->
                            <!--<button type="button" class="btn btn-error" onclick="onsubmit()">提交订单</button>-->
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //check out -->
<!---->
<div class="subscribe">
    <div class="container">
        <h3>Newsletter</h3>
        <form>
            <input type="text" class="text" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>
<!---->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 about-us">
                <h3>About Us</h3>
                <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Information</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">New Products</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Our Stores</a></li>
                    <li><a href="#">Best Sellers</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>More Info</h3>
                <ul class="nav-bottom">
                    <li><a href="/page/toLogin">Login</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/page/toContact">Contact</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Categories</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Car Lights</a></li>
                    <li><a href="#">LED Lights</a></li>
                    <li><a href="#">Decorates</a></li>
                    <li><a href="#">Wall Lights</a></li>
                    <li><a href="#">Protectors</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---->
<div class="copywrite">
    <div class="container">
        <div class="copy">
            <p>Copyright &copy; 2016.Company name All rights reserved.</p>
        </div>
        <div class="social">
            <a href="#"><i class="facebook"></i></a>
            <a href="#"><i class="twitter"></i></a>
            <a href="#"><i class="dribble"></i></a>
            <a href="#"><i class="google"></i></a>
            <a href="#"><i class="youtube"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
<script>
    $(document).ready(function(){
        queryshopping();
    })
    function queryshopping(){
        $.ajax({
            url:"/check/selectvehicle",
            type:"post",
            success:function(data) {

                var info='';
                for(var i=0;i<data.length;i++) {
                    $("#price").val(data[i].price);
                    $("#repertorycont").val(data[i].repertorycont);
                    $("#id").val(data[i].veid);
                    info += '';
                    info+=' <tr class="cart_item">\n' +
                        '<td class="product-remove">\n' +
                        '&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-error" onclick="delve('+data[i].veid+')">×</button>\n'+
                        '</td>\n' +
                        '<td class="product-thumbnail">\n' +
                        '&nbsp;&nbsp;&nbsp;<a href="tosingleproduct"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="http://localhost:8080/images/p4.jpg"></a>\n' +
                        '</td>\n' +
                        '<td class="product-name">\n' +
                        '&nbsp;&nbsp;&nbsp;<a href="tosingleproduct">'+data[i].commodityname+'</a>\n' +
                        '</td>\n' +
                        '<td class="product-repertorycont">\n'+
                        '&nbsp;&nbsp;&nbsp;剩余库存为<span class="amount">'+data[i].repertorycont+'</span>件\n' +
                        '</td>\n' +
                        '<td class="product-price">\n' +
                        '&nbsp;&nbsp;&nbsp;单价为<span class="amount">'+data[i].price+'</span>元&nbsp;&nbsp;&nbsp;\n' +
                        '</td>\n' +
                        '<td class="product-quantity">\n' +
                        '<div class="quantity buttons_added">\n' +
                        '选择物品数量<input type="number" size="3" class="input-text qty text" title="Qty"  min="0" step="1" id="jia">\n' +
                        '</div>\n' +
                        '</td>\n' +
                        '<td class="product-subtotal" id="ge">\n' +
                        '&nbsp;&nbsp;&nbsp;<span class="amount" id="to"></span>\n' +
                        '</td>\n' +
                        '</tr>\n' +
                        '</tr>'
                    $("#bodys").html(info)
                }
            }
        })
    }

    function delve(id) {
        $.ajax({
            url:"/check/delve",
            type:"post",
            data:{"id":id},
            success:function(){

            }
        })
    }

    function ss() {
        var count=$("#jia").val();//购买数量
        var price=$("#price").val();//单价
        var kc=$("#repertorycont").val();//库存量
        $("#count").val(count);
        var c= eval(count*price);
        if(count>kc){
            alert("库存不足");
        }else {
            $("#pricesums").val(c);
        }

    }
    
    // function onsubmit() {
    //     var count=$("#jia").val();//购买数量
    //     var price=$("#price").val();//单价
    //     var kc=$("#repertorycont").val();//库存量
    //     var sunprice=$("#pricesum").val();//总价格
    //     var id=$("#id").val();
    //     $.ajax({
    //         url:"/check/addcheck",
    //         type:"post",
    //         data:{"count":count,"sunprice":sunprice,"id":id},
    //         success:function(data){
    //             location.reload();
    //         }
    //     });
    // }
</script>
</body>
</html>