<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/docs.min.css}" />
    <!-- Custom Theme files -->
    <!--theme style-->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--//theme style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script src="js/simpleCart.min.js"> </script>
    <script th:src="@{/js/simpleCart.min.js}"></script>
    <!-- start menu -->
    <link rel="stylesheet" th:href="@{/css/memenu.css}" type="text/css" media="all"/>
    <script  type="text/javascript"  th:src="@{/js/memenu.js}"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!-- /start menu -->
</head>
<body>
<!--header-->
<div class="header-top">
    <div class="header-bottom">
        <div class="logo">
            <h1><a href="/page/toIndex">Lighting</a></h1>

        </div>
        <!---->
        <div class="top-nav">
            <ul class="memenu skyblue"><li><a href="/page/toIndex">Home</a></li>
                <li class="grid"><a href="#">Products</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a href="#">Accessories</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a href="/page/toTypo">Typo</a></li>
                <li class="active"><a href="/page/toContact">Contact</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <!---->
        <div class="cart box_1">
            <a href="/page/toCheckout">
                <div class="total">
                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <!---->
    </div>
    <div class="clearfix"> </div>
</div>
<!---->
<div class="contact">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/page/toIndex">Home</a></li>
            <li class="active">Contact</li>
        </ol>
        <!--start contact-->
        <h3>Contact Us</h3>
        <div class="section group">
            <div class="col-md-6 span_1_of_3">
                <div class="contact_info">
                    <h4>Find Us Here</h4>
                    <div class="map">
                        <iframe src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe>
                    </div>
                </div>
                <div class="company_address">
                    <h4>Company Information :</h4>
                    <p>500 Lorem Ipsum Dolor Sit,</p>
                    <p>22-56-2-9 Sit Amet, Lorem,</p>
                    <p>USA</p>
                    <p>Phone:(00) 222 666 444</p>
                    <p>Fax: (000) 000 00 00 0</p>
                    <p>Email: <a href="mailto:info@example.com">info@mycompany.com</a></p>
                    <p>Follow on: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
                </div>
            </div>
            <div class="col-md-6 span_2_of_3">
                <div class="contact-form">
                    <form>
                        <div>
                            <span><label>NAME</label></span>
                            <span><input name="userName" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>E-MAIL</label></span>
                            <span><input name="userEmail" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>MOBILE</label></span>
                            <span><input name="userPhone" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>SUBJECT</label></span>
                            <span><textarea name="userMsg"> </textarea></span>
                        </div>
                        <div>
                            <span><input type="submit" class="mybutton" value="Submit"></span>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="subscribe">
    <div class="container">
        <h3>Newsletter</h3>
        <form>
            <input type="text" class="text" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>
<!---->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 about-us">
                <h3>About Us</h3>
                <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Information</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">New Products</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Our Stores</a></li>
                    <li><a href="#">Best Sellers</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>More Info</h3>
                <ul class="nav-bottom">
                    <li><a href="/page/toLogin">Login</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/page/toContact">Contact</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Categories</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Car Lights</a></li>
                    <li><a href="#">LED Lights</a></li>
                    <li><a href="#">Decorates</a></li>
                    <li><a href="#">Wall Lights</a></li>
                    <li><a href="#">Protectors</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="copywrite">
    <div class="container">
        <div class="copy">
            <p>Copyright &copy; 2016.Company name All rights reserved.</p>
        </div>
        <div class="social">
            <a href="#"><i class="facebook"></i></a>
            <a href="#"><i class="twitter"></i></a>
            <a href="#"><i class="dribble"></i></a>
            <a href="#"><i class="google"></i></a>
            <a href="#"><i class="youtube"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
</body>
</html>