<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/docs.min.css}"/>
    <!-- Custom Theme files -->
    <!--theme style-->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--//theme style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script th:src="@{/js/simpleCart.min.js}"></script>
    <!-- start menu -->
    <link rel="stylesheet" th:href="@{/css/memenu.css}" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{/js/memenu.js}"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!-- /start menu -->
</head>
<body>
<!--header-->
<script th:src="@{/js/responsiveslides.min.js}"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
        });
    });
</script>

<div class="header-top">
    <div class="header-bottom">
        <div class="logo">
            <h1><a href="/page/toIndex">Lighting</a></h1>

        </div>
        <!---->
        <div class="top-nav">
            <ul class="memenu skyblue"><li class="active"><a href="/page/toIndex">Home</a></li>
                <li class="grid"><a href="#">Products</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a href="#">Accessories</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a href="/page/toTypo">Typo</a></li>
                <li class="grid"><a href="/page/toContact">Contact</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <!---->
        <div class="cart box_1">
            <a href="/page/toCheckout">
                <div class="total">
                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <!---->
    </div>
    <div class="clearfix"> </div>
</div>
<!---->
<div class="login_sec">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/page/toIndex">Home</a></li>
            <li class="active">Login</li>
        </ol>
        <h2>Login</h2>
        <div class="col-md-6 log">
            <p>Welcome, please enter the folling to continue.</p>
            <p>If you have previously Login with us, <span>click here</span></p>
            <form>
                <h5>User Name</h5>
                <input type="text" value="">
                <h5>Password</h5>
                <input type="password" value="">
                <input type="submit" value="Login">
                <a class="acount-btn" href="account.html">Create an Account</a>
            </form>
            <a href="#">Forgot Password ?</a>

        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!---->
<div class="subscribe">
    <div class="container">
        <h3>Newsletter</h3>
        <form>
            <input type="text" class="text" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>
<!---->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 about-us">
                <h3>About Us</h3>
                <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Information</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">New Products</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Our Stores</a></li>
                    <li><a href="#">Best Sellers</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>More Info</h3>
                <ul class="nav-bottom">
                    <li><a href="login.html">Login</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Categories</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Car Lights</a></li>
                    <li><a href="#">LED Lights</a></li>
                    <li><a href="#">Decorates</a></li>
                    <li><a href="#">Wall Lights</a></li>
                    <li><a href="#">Protectors</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="copywrite">
    <div class="container">
        <div class="copy">
            <p>Copyright &copy; 2016.Company name All rights reserved.</p>
        </div>
        <div class="social">
            <a href="#"><i class="facebook"></i></a>
            <a href="#"><i class="twitter"></i></a>
            <a href="#"><i class="dribble"></i></a>
            <a href="#"><i class="google"></i></a>
            <a href="#"><i class="youtube"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
</body>
</html>