<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!-- Custom Theme files -->
    <!--theme style-->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
    <!--//theme style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script th:src="@{/js/simpleCart.min.js}"></script>
    <!-- start menu -->
    <link rel="stylesheet" th:href="@{/css/memenu.css}" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{/js/memenu.js}"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!-- /start menu -->
    <link rel="stylesheet" th:href="@{/css/form.css}" type="text/css" media="all"/>
    <!-- the jScrollPane script -->
    <script type="text/javascript" th:src="@{/js/jquery.jscrollpane.min.js}"></script>
    <script type="text/javascript" id="sourcecode">
        $(function()
        {
            $('.scroll-pane').jScrollPane();
        });
    </script>
    <!-- //the jScrollPane script -->

</head>
<body>
<!--header-->
<div class="header-top">
    <div class="header-bottom">
        <div class="logo">
            <h1><a href="/page/toIndex">Lighting</a></h1>
        </div>
        <!---->
        <div class="top-nav">
            <ul class="memenu skyblue"><li><a href="/page/toIndex">Home</a></li>
                <li class="active"><a href="#">Products</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a href="#">Accessories</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a href="/page/toTypo">Typo</a></li>
                <li class="grid"><a href="/page/toContact">Contact</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <!---->
        <div class="cart box_1">
            <a href="/page/toCheckout">
                <div class="total">
                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <!---->
    </div>
    <div class="clearfix"> </div>
</div>
<!--header//-->
<div class="product-model">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/page/toIndex">Home</a></li>
            <li class="active">Products</li>
        </ol>
        <h2>Our Products</h2>
        <div class="col-md-9 product-model-sec">
            <a href="/page/toSingle"><div class="product-grid">
                <div class="more-product"><span> </span></div>
                <div class="product-img b-link-stripe b-animate-go  thickbox">
                    <img src="http://localhost:8080/images/p1.jpg" class="img-responsive" alt="">
                    <div class="b-wrapper">
                        <h4 class="b-animate b-from-left  b-delay03">
                            <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
                        </h4>
                    </div>
                </div></a>
            <div class="product-info simpleCart_shelfItem">
                <div class="product-info-cust prt_name">
                    <h4>Lights #1</h4>
                    <span class="item_price">$187.95</span>
                    <div class="ofr">
                        <p class="pric1"><del>Rs 280</del></p>
                        <p class="disc">[12% Off]</p>
                    </div>
                    <input type="text" class="item_quantity" value="1" />
                    <input type="button" class="item_add items" value="ADD">
                    <div class="clearfix"> </div>
                </div>

            </div>
        </div>

        <a href="/page/toSingle"><div class="product-grid">
            <div class="more-product"><span> </span></div>
            <div class="product-img b-link-stripe b-animate-go  thickbox">
                <img src="http://localhost:8080/images/p2.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h4 class="b-animate b-from-left  b-delay03">
                        <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
                    </h4>
                </div>
            </div></a>
        <div class="product-info simpleCart_shelfItem">
            <div class="product-info-cust prt_name">
                <h4>Lights #1</h4>
                <span class="item_price">$187.95</span>
                <div class="ofr">
                    <p class="pric1"><del>Rs 280</del></p>
                    <p class="disc">[12% Off]</p>
                </div>
                <input type="text" class="item_quantity" value="1" />
                <input type="button" class="item_add items" value="ADD">
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <a href="/page/toSingle"><div class="product-grid">
        <div class="more-product"><span> </span></div>
        <div class="product-img b-link-stripe b-animate-go  thickbox">
            <img src="http://localhost:8080/images/p3.jpg" class="img-responsive" alt=""/>
            <div class="b-wrapper">
                <h4 class="b-animate b-from-left  b-delay03">
                    <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
                </h4>
            </div>
        </div>	</a>
    <div class="product-info simpleCart_shelfItem">
        <div class="product-info-cust prt_name">
            <h4>Lights #1</h4>
            <span class="item_price">$187.95</span>
            <div class="ofr">
                <p class="pric1"><del>Rs 280</del></p>
                <p class="disc">[12% Off]</p>
            </div>
            <input type="text" class="item_quantity" value="1" />
            <input type="button" class="item_add items" value="ADD">
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<a href="/page/toSingle"><div class="product-grid">
    <div class="more-product"><span> </span></div>
    <div class="product-img b-link-stripe b-animate-go  thickbox">
        <img src="http://localhost:8080/images/p4.jpg" class="img-responsive" alt=""/>
        <div class="b-wrapper">
            <h4 class="b-animate b-from-left  b-delay03">
                <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
            </h4>
        </div>
    </div></a>
<div class="product-info simpleCart_shelfItem">
    <div class="product-info-cust prt_name">
        <h4>Lights #1</h4>
        <span class="item_price">$187.95</span>
        <div class="ofr">
            <p class="pric1"><del>Rs 280</del></p>
            <p class="disc">[12% Off]</p>
        </div>
        <input type="text" class="item_quantity" value="1" />
        <input type="button" class="item_add items" value="ADD">
        <div class="clearfix"> </div>
    </div>
</div>
</div>

<a href="/page/toSingle"><div class="product-grid">
    <div class="more-product"><span> </span></div>
    <div class="product-img b-link-stripe b-animate-go  thickbox">
        <img src="http://localhost:8080/images/p5.jpg" class="img-responsive" alt=""/>
        <div class="b-wrapper">
            <h4 class="b-animate b-from-left  b-delay03">
                <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
            </h4>
        </div>
    </div></a>
<div class="product-info simpleCart_shelfItem">
    <div class="product-info-cust prt_name">
        <h4>Lights #1</h4>
        <span class="item_price">$187.95</span>
        <div class="ofr">
            <p class="pric1"><del>Rs 280</del></p>
            <p class="disc">[12% Off]</p>
        </div>
        <input type="text" class="item_quantity" value="1" />
        <input type="button" class="item_add items" value="ADD">
        <div class="clearfix"> </div>
    </div>
</div>
</div>

<a href="/page/toSingle"><div class="product-grid">
    <div class="more-product"><span> </span></div>
    <div class="product-img b-link-stripe b-animate-go  thickbox">
        <img src="http://localhost:8080/images/p6.jpg" class="img-responsive" alt=""/>
        <div class="b-wrapper">
            <h4 class="b-animate b-from-left  b-delay03">
                <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
            </h4>
        </div>
    </div></a>
<div class="product-info simpleCart_shelfItem">
    <div class="product-info-cust prt_name">
        <h4>Lights #1</h4>
        <span class="item_price">$187.95</span>
        <div class="ofr">
            <p class="pric1"><del>Rs 280</del></p>
            <p class="disc">[12% Off]</p>
        </div>
        <input type="text" class="item_quantity" value="1" />
        <input type="button" class="item_add items" value="ADD">
        <div class="clearfix"> </div>
    </div>
</div>
</div>
<a href="/page/toSingle"><div class="product-grid">
    <div class="more-product"><span> </span></div>
    <div class="product-img b-link-stripe b-animate-go  thickbox">
        <img src="http://localhost:8080/images/p7.jpg" class="img-responsive" alt=""/>
        <div class="b-wrapper">
            <h4 class="b-animate b-from-left  b-delay03">
                <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
            </h4>
        </div>
    </div></a>
<div class="product-info simpleCart_shelfItem">
    <div class="product-info-cust prt_name">
        <h4>Lights #1</h4>
        <span class="item_price">$187.95</span>
        <div class="ofr">
            <p class="pric1"><del>Rs 280</del></p>
            <p class="disc">[12% Off]</p>
        </div>
        <input type="text" class="item_quantity" value="1" />
        <input type="button" class="item_add items" value="ADD">
        <div class="clearfix"> </div>
    </div>
</div>
</div>
<a href="/page/toSingle"><div class="product-grid">
    <div class="more-product"><span> </span></div>
    <div class="product-img b-link-stripe b-animate-go  thickbox">
        <img src="http://localhost:8080/images/p8.jpg" class="img-responsive" alt=""/>
        <div class="b-wrapper">
            <h4 class="b-animate b-from-left  b-delay03">
                <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
            </h4>
        </div>
    </div></a>
<div class="product-info simpleCart_shelfItem">
    <div class="product-info-cust prt_name">
        <h4>Lights #1</h4>
        <span class="item_price">$187.95</span>
        <div class="ofr">
            <p class="pric1"><del>Rs 280</del></p>
            <p class="disc">[12% Off]</p>
        </div>
        <input type="text" class="item_quantity" value="1" />
        <input type="button" class="item_add items" value="ADD">
        <div class="clearfix"> </div>
    </div>
</div>
</div>
<a href="/page/toSingle"><div class="product-grid">
    <div class="more-product"><span> </span></div>
    <div class="product-img b-link-stripe b-animate-go  thickbox">
        <img src="http://localhost:8080/images/p9.jpg" class="img-responsive" alt=""/>
        <div class="b-wrapper">
            <h4 class="b-animate b-from-left  b-delay03">
                <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
            </h4>
        </div>
    </div></a>
<div class="product-info simpleCart_shelfItem">
    <div class="product-info-cust prt_name">
        <h4>Lights #1</h4>
        <span class="item_price">$187.95</span>
        <div class="ofr">
            <p class="pric1"><del>Rs 280</del></p>
            <p class="disc">[12% Off]</p>
        </div>
        <input type="text" class="item_quantity" value="1" />
        <input type="button" class="item_add items" value="ADD">
        <div class="clearfix"> </div>
    </div>
</div>
</div>
<a href="/page/toSingle"><div class="product-grid">
    <div class="more-product"><span> </span></div>
    <div class="product-img b-link-stripe b-animate-go  thickbox">
        <img src="http://localhost:8080/images/p10.jpg" class="img-responsive" alt=""/>
        <div class="b-wrapper">
            <h4 class="b-animate b-from-left  b-delay03">
                <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
            </h4>
        </div>
    </div></a>
<div class="product-info simpleCart_shelfItem">
    <div class="product-info-cust prt_name">
        <h4>Lights #1</h4>
        <span class="item_price">$187.95</span>
        <div class="ofr">
            <p class="pric1"><del>Rs 280</del></p>
            <p class="disc">[12% Off]</p>
        </div>
        <input type="text" class="item_quantity" value="1" />
        <input type="button" class="item_add items" value="ADD">
        <div class="clearfix"> </div>
    </div>
</div>
</div>
<a href="/page/toSingle"><div class="product-grid">
    <div class="more-product"><span> </span></div>
    <div class="product-img b-link-stripe b-animate-go  thickbox">
        <img src="http://localhost:8080/images/p11.jpg" class="img-responsive" alt=""/>
        <div class="b-wrapper">
            <h4 class="b-animate b-from-left  b-delay03">
                <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
            </h4>
        </div>
    </div></a>
<div class="product-info simpleCart_shelfItem">
    <div class="product-info-cust prt_name">
        <h4>Lights #1</h4>
        <span class="item_price">$187.95</span>
        <div class="ofr">
            <p class="pric1"><del>Rs 280</del></p>
            <p class="disc">[12% Off]</p>
        </div>
        <input type="text" class="item_quantity" value="1" />
        <input type="button" class="item_add items" value="ADD">
        <div class="clearfix"> </div>
    </div>
</div>
</div>
<a href="/page/toSingle"><div class="product-grid">
    <div class="more-product"><span> </span></div>
    <div class="product-img b-link-stripe b-animate-go  thickbox">
        <img src="http://localhost:8080/images/p12.jpg" class="img-responsive" alt=""/>
        <div class="b-wrapper">
            <h4 class="b-animate b-from-left  b-delay03">
                <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
            </h4>
        </div>
    </div></a>
<div class="product-info simpleCart_shelfItem">
    <div class="product-info-cust prt_name">
        <h4>Lights #1</h4>
        <span class="item_price">$187.95</span>
        <div class="ofr">
            <p class="pric1"><del>Rs 280</del></p>
            <p class="disc">[12% Off]</p>
        </div>
        <input type="text" class="item_quantity" value="1" />
        <input type="button" class="item_add items" value="ADD">
        <div class="clearfix"> </div>
    </div>
</div>
</div>
</div>
<div class="rsidebar span_1_of_left">
    <section  class="sky-form">
        <div class="product_right">
            <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
            <div class="tab1">
                <ul class="place">
                    <li class="sort">Home Decorates</li>
                    <li class="by"><img src="images/do.png" alt=""></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="single-bottom">
                    <a href="#"><p>Lanterns</p></a>
                    <a href="#"><p>Wall Lamps</p></a>
                    <a href="#"><p>Table Lamps</p></a>
                    <a href="#"><p>Selling Lamps</p></a>
                </div>
            </div>
            <div class="tab2">
                <ul class="place">
                    <li class="sort">Festive Needs</li>
                    <li class="by"><img src="images/do.png" alt=""></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="single-bottom">
                    <a href="#"><p>Lanterns</p></a>
                    <a href="#"><p>Disco Lights</p></a>
                </div>
            </div>
            <div class="tab3">
                <ul class="place">
                    <li class="sort">Kitchen & Dining</li>
                    <li class="by"><img src="images/do.png" alt=""></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="single-bottom">
                    <a href="#"><p>Lights & Lamps</p></a>
                </div>
            </div>
            <div class="tab4">
                <ul class="place">
                    <li class="sort">Books</li>
                    <li class="by"><img src="images/do.png" alt=""></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="single-bottom">
                    <a href="#"><p>Standing Lamps</p></a>
                    <a href="#"><p>Lamps</p></a>
                    <a href="#"><p>Led Lamps</p></a>
                </div>
            </div>
            <div class="tab5">
                <ul class="place">
                    <li class="sort">Automotive</li>
                    <li class="by"><img src="images/do.png" alt=""></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="single-bottom">
                    <a href="#"><p>Car Lights</p></a>
                    <a href="#"><p>Stick Lights</p></a>
                    <a href="#"><p>Thread Lights</p></a>
                </div>
            </div>

            <!--script-->
            <script>
                $(document).ready(function(){
                    $(".tab1 .single-bottom").hide();
                    $(".tab2 .single-bottom").hide();
                    $(".tab3 .single-bottom").hide();
                    $(".tab4 .single-bottom").hide();
                    $(".tab5 .single-bottom").hide();

                    $(".tab1 ul").click(function(){
                        $(".tab1 .single-bottom").slideToggle(300);
                        $(".tab2 .single-bottom").hide();
                        $(".tab3 .single-bottom").hide();
                        $(".tab4 .single-bottom").hide();
                        $(".tab5 .single-bottom").hide();
                    })
                    $(".tab2 ul").click(function(){
                        $(".tab2 .single-bottom").slideToggle(300);
                        $(".tab1 .single-bottom").hide();
                        $(".tab3 .single-bottom").hide();
                        $(".tab4 .single-bottom").hide();
                        $(".tab5 .single-bottom").hide();
                    })
                    $(".tab3 ul").click(function(){
                        $(".tab3 .single-bottom").slideToggle(300);
                        $(".tab4 .single-bottom").hide();
                        $(".tab5 .single-bottom").hide();
                        $(".tab2 .single-bottom").hide();
                        $(".tab1 .single-bottom").hide();
                    })
                    $(".tab4 ul").click(function(){
                        $(".tab4 .single-bottom").slideToggle(300);
                        $(".tab5 .single-bottom").hide();
                        $(".tab3 .single-bottom").hide();
                        $(".tab2 .single-bottom").hide();
                        $(".tab1 .single-bottom").hide();
                    })
                    $(".tab5 ul").click(function(){
                        $(".tab5 .single-bottom").slideToggle(300);
                        $(".tab4 .single-bottom").hide();
                        $(".tab3 .single-bottom").hide();
                        $(".tab2 .single-bottom").hide();
                        $(".tab1 .single-bottom").hide();
                    })
                });
            </script>
            <!-- script -->
    </section>

    <section  class="sky-form">
        <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>DISCOUNTS</h4>
        <div class="row row1 scroll-pane">
            <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Upto - 10% (20)</label>
            </div>
            <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>40% - 50% (5)</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
            </div>
        </div>
    </section>

    <section  class="sky-form">
        <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Price</h4>
        <ul class="dropdown-menu1">
            <li><a href="">
                <div id="slider-range"></div>
                <input type="text" id="amount" style="border: 0; font-weight: NORMAL;   font-family: 'Dosis-Regular';" />
            </a></li>
        </ul>
    </section>
    <!---->
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}" type="text/css" />
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script type='text/javascript'>//<![CDATA[
    $(window).load(function(){
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 100000,
            values: [ 500, 100000 ],
            slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
            }
        });
        $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

    });//]]>
    </script>
    <!---->


    <section  class="sky-form">
        <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Type</h4>
        <div class="row row1 scroll-pane">
            <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Lights (30)</label>
            </div>
            <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Diwali Lights   (30)</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Tube Lights      (30)</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>LED Lights        (30)</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Bulbs  (30)</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Ceiling Lights  (30)</label>
            </div>
        </div>
    </section>
    <section  class="sky-form">
        <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Brand</h4>
        <div class="row row1 scroll-pane">
            <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Everyday</label>
            </div>
            <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anchor</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Philips</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Wipro</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Havells</label>
                <label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>Ferolex</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Gold Medal</label>
            </div>
        </div>
    </section>
</div>
</div>
</div>
</div>
<!---->
<div class="subscribe">
    <div class="container">
        <h3>Newsletter</h3>
        <form>
            <input type="text" class="text" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>
<!---->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 about-us">
                <h3>About Us</h3>
                <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Information</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">New Products</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Our Stores</a></li>
                    <li><a href="#">Best Sellers</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>More Info</h3>
                <ul class="nav-bottom">
                    <li><a href="/page/toLogin">Login</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/page/toContact">Contact</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Categories</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Car Lights</a></li>
                    <li><a href="#">LED Lights</a></li>
                    <li><a href="#">Decorates</a></li>
                    <li><a href="#">Wall Lights</a></li>
                    <li><a href="#">Protectors</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="copywrite">
    <div class="container">
        <div class="copy">
            <p>Copyright &copy; 2016.Company name All rights reserved.</p>
        </div>
        <div class="social">
            <a href="#"><i class="facebook"></i></a>
            <a href="#"><i class="twitter"></i></a>
            <a href="#"><i class="dribble"></i></a>
            <a href="#"><i class="google"></i></a>
            <a href="#"><i class="youtube"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
</body>
</html>