<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Typography</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Custom Theme files -->
    <!--theme-style-->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--//theme style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script th:src="@{/js/simpleCart.min.js}"></script>
    <!-- start menu -->
    <link rel="stylesheet" th:href="@{/css/memenu.css}" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{/js/memenu.js}"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!-- /start menu -->
</head>
<body>
<!-- header -->
<div class="header-top">
    <div class="header-bottom">
        <div class="logo">
            <h1><a href="/page/toIndex">Lighting</a></h1>
        </div>
        <!---->
        <div class="top-nav">
            <ul class="memenu skyblue"><li><a href="/page/toIndex">Home</a></li>
                <li class="grid"><a href="#">Products</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a href="#">Accessories</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1 me-one">
                                <h4>Shop</h4>
                                <ul>
                                    <li><a href="/page/toProduct">New Arrivals</a></li>
                                    <li><a href="/page/toProduct">Home</a></li>
                                    <li><a href="/page/toProduct">Decorates</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Kids</a></li>
                                    <li><a href="/page/toProduct">Login</a></li>
                                    <li><a href="/page/toProduct">Brands</a></li>
                                    <li><a href="/page/toProduct">My Shopping Bag</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Type</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Diwali Lights</a></li>
                                    <li><a href="/page/toProduct">Tube Lights</a></li>
                                    <li><a href="/page/toProduct">Bulbs</a></li>
                                    <li><a href="/page/toProduct">Ceiling Lights</a></li>
                                    <li><a href="/page/toProduct">Accessories</a></li>
                                    <li><a href="/page/toProduct">Lanterns</a></li>
                                </ul>
                            </div>
                            <div class="col1 me-one">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="/page/toProduct">Everyday</a></li>
                                    <li><a href="/page/toProduct">Philips</a></li>
                                    <li><a href="/page/toProduct">Havells</a></li>
                                    <li><a href="/page/toProduct">Wipro</a></li>
                                    <li><a href="/page/toProduct">Jaguar</a></li>
                                    <li><a href="/page/toProduct">Ave</a></li>
                                    <li><a href="/page/toProduct">Gold Medal</a></li>
                                    <li><a href="/page/toProduct">Anchor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="active"><a href="/page/toTypo">Typo</a></li>
                <li class="grid"><a href="/page/toContact">Contact</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <!---->
        <div class="cart box_1">
            <a href="/page/toCheckout">
                <div class="total">
                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <!---->
    </div>
    <div class="clearfix"> </div>
</div>
<!--pages-starts-->
<div class="pages">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/page/toIndex">Home</a></li>
            <li class="active">Typography</li>
        </ol>
        <h2 class="top">Typography</h2>
        <div class="headdings">
            <h3 class="ghj">Headings</h3>
            <div class="bs-example">
                <table class="table">
                    <tbody>
                    <tr>
                        <td><h1 id="h1.-bootstrap-heading">h1. Bootstrap heading<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
                        <td class="type-info">Semibold 36px</td>
                    </tr>
                    <tr>
                        <td><h2 id="h2.-bootstrap-heading">h2. Bootstrap heading<a class="anchorjs-link" href="#h2.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h2></td>
                        <td class="type-info">Semibold 30px</td>
                    </tr>
                    <tr>
                        <td><h3 id="h3.-bootstrap-heading">h3. Bootstrap heading<a class="anchorjs-link" href="#h3.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h3></td>
                        <td class="type-info">Semibold 24px</td>
                    </tr>
                    <tr>
                        <td><h4 id="h4.-bootstrap-heading">h4. Bootstrap heading<a class="anchorjs-link" href="#h4.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h4></td>
                        <td class="type-info">Semibold 18px</td>
                    </tr>
                    <tr>
                        <td><h5 id="h5.-bootstrap-heading">h5. Bootstrap heading<a class="anchorjs-link" href="#h5.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h5></td>
                        <td class="type-info">Semibold 14px</td>
                    </tr>
                    <tr>
                        <td><h6>h6. Bootstrap heading</h6></td>
                        <td class="type-info">Semibold 12px</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="Buttons">
            <h3 class="ghj">Buttons</h3>
            <h1 class="b1">
                <a href="#"><span class="label label-default">Default</span></a>
                <a href="#"><span class="label label-primary">Primary</span></a>
                <a href="#"><span class="label label-success">Success</span></a>
                <a href="#"><span class="label label-info">Info</span></a>
                <a href="#"><span class="label label-warning">Warning</span></a>
                <a href="#"><span class="label label-danger">Danger</span></a>
            </h1>
            <h2 class="b2">
                <a href="#"><span class="label label-default">Default</span></a>
                <a href="#"><span class="label label-primary">Primary</span></a>
                <a href="#"><span class="label label-success">Success</span></a>
                <a href="#"><span class="label label-info">Info</span></a>
                <a href="#"><span class="label label-warning">Warning</span></a>
                <a href="#"><span class="label label-danger">Danger</span></a>
            </h2>
            <h3 class="b3">
                <a href="#"><span class="label label-default">Default</span></a>
                <a href="#"><span class="label label-primary">Primary</span></a>
                <a href="#"><span class="label label-success">Success</span></a>
                <a href="#"><span class="label label-info">Info</span></a>
                <a href="#"><span class="label label-warning">Warning</span></a>
                <a href="#"><span class="label label-danger">Danger</span></a>
            </h3>
            <h4 class="b4">
                <a href="#"><span class="label label-default">Default</span></a>
                <a href="#"><span class="label label-primary">Primary</span></a>
                <a href="#"><span class="label label-success">Success</span></a>
                <a href="#"><span class="label label-info">Info</span></a>
                <a href="#"><span class="label label-warning">Warning</span></a>
                <a href="#"><span class="label label-danger">Danger</span></a>
            </h4>
            <h5 class="b5">
                <a href="#"><span class="label label-default">Default</span></a>
                <a href="#"><span class="label label-primary">Primary</span></a>
                <a href="#"><span class="label label-success">Success</span></a>
                <a href="#"><span class="label label-info">Info</span></a>
                <a href="#"><span class="label label-warning">Warning</span></a>
                <a href="#"><span class="label label-danger">Danger</span></a>
            </h5>
            <h6 class="b6">
                <a href="#"><span class="label label-default">Default</span></a>
                <a href="#"><span class="label label-primary">Primary</span></a>
                <a href="#"><span class="label label-success">Success</span></a>
                <a href="#"><span class="label label-info">Info</span></a>
                <a href="#"><span class="label label-warning">Warning</span></a>
                <a href="#"><span class="label label-danger">Danger</span></a>
            </h6>
        </div>
        <div class="progress-bars">
            <h3 class="ghj">Progress Bars</h3>
            <div class="tab-content">
                <div class="tab-pane active" id="domprogress">
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" style="width: 20%"></div>
                    </div>
                    <p>Info with <code>progress-bar-info</code> class.</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width: 60%"></div>
                    </div>
                    <p>Success with <code>progress-bar-success</code> class.</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                    </div>
                    <p>Warning with <code>progress-bar-warning</code> class.</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" style="width: 70%"></div>
                    </div>
                    <p>Danger with <code>progress-bar-danger</code> class.</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" style="width: 50%"></div>
                    </div>
                    <p>Inverse with <code>progress-bar-inverse</code> class.</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-inverse" style="width: 40%"></div>
                    </div>
                    <p>Inverse with <code>progress-bar-inverse</code> class.</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 35%"><span class="sr-only">35% Complete (success)</span></div>
                        <div class="progress-bar progress-bar-warning" style="width: 20%"><span class="sr-only">20% Complete (warning)</span></div>
                        <div class="progress-bar progress-bar-danger" style="width: 10%"><span class="sr-only">10% Complete (danger)</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bread-crumbs">
            <h3 class="ghj">Breadcrumbs</h3>
            <ol class="breadcrumb">
                <li class="active">Home</li>
            </ol>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Library</li>
            </ol>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div class="pagenatin">
            <h3 class="ghj">Pagination</h3>
            <div class="col-md-6">
                <nav>
                    <ul class="pagination pagination-lg">
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="pagination">
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="pagination pagination-sm">
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <nav>
                    <ul class="pagination pagination-lg">
                        <li class="disabled"><a href="#"><i class="fa fa-angle-left">«</i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-angle-right">»</i></a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="pagination pagination-sm">
                        <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i>«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>»</a></li>
                    </ul>
                </nav>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="alerts">
            <h3 class="ghj">Alerts</h3>
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> You successfully read this important alert message.
            </div>
            <div class="alert alert-info" role="alert">
                <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
            </div>
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> Best check yo self, you're not looking too good.
            </div>
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
            </div>
        </div>
        <div class="distracted">
            <h3 class="ghj">Wells</h3>
            <div class="well">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            </div>
            <div class="well">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here
            </div>
            <div class="well">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            </div>
        </div>
        <div class="appearance">
            <h3 class="ghj">Badges</h3>
            <div class="col-md-6">
                <p>Add modifier classes to change the appearance of a badge.</p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Classes</th>
                        <th>Badges</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>No modifiers</td>
                        <td><span class="badge">42</span></td>
                    </tr>
                    <tr>
                        <td><code>.badge-primary</code></td>
                        <td><span class="badge badge-primary">1</span></td>
                    </tr>
                    <tr>
                        <td><code>.badge-success</code></td>
                        <td><span class="badge badge-success">22</span></td>
                    </tr>
                    <tr>
                        <td><code>.badge-info</code></td>
                        <td><span class="badge badge-info">30</span></td>
                    </tr>
                    <tr>
                        <td><code>.badge-warning</code></td>
                        <td><span class="badge badge-warning">412</span></td>
                    </tr>
                    <tr>
                        <td><code>.badge-danger</code></td>
                        <td><span class="badge badge-danger">999</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <p>Easily highlight new or unread items with the <code>.badge</code> class</p>
                <div class="list-group list-group-alternate">
                    <a href="#" class="list-group-item"><span class="badge">201</span> <i class="ti ti-email"></i> Inbox </a>
                    <a href="#" class="list-group-item"><span class="badge badge-primary">5021</span> <i class="ti ti-eye"></i> Profile visits </a>
                    <a href="#" class="list-group-item"><span class="badge">14</span> <i class="ti ti-headphone-alt"></i> Call </a>
                    <a href="#" class="list-group-item"><span class="badge">20</span> <i class="ti ti-comments"></i> Messages </a>
                    <a href="#" class="list-group-item"><span class="badge badge-warning">14</span> <i class="ti ti-bookmark"></i> Bookmarks </a>
                    <a href="#" class="list-group-item"><span class="badge badge-danger">30</span> <i class="ti ti-bell"></i> Notifications </a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!---->
<div class="subscribe">
    <div class="container">
        <h3>Newsletter</h3>
        <form>
            <input type="text" class="text" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>
<!---->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 about-us">
                <h3>About Us</h3>
                <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Information</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">New Products</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Our Stores</a></li>
                    <li><a href="#">Best Sellers</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>More Info</h3>
                <ul class="nav-bottom">
                    <li><a href="/page/toLogin">Login</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/page/toContact">Contact</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Categories</h3>
                <ul class="nav-bottom">
                    <li><a href="#">Car Lights</a></li>
                    <li><a href="#">LED Lights</a></li>
                    <li><a href="#">Decorates</a></li>
                    <li><a href="#">Wall Lights</a></li>
                    <li><a href="#">Protectors</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="copywrite">
    <div class="container">
        <div class="copy">
            <p>Copyright &copy; 2016.Company name All rights reserved.</p>
        </div>
        <div class="social">
            <a href="#"><i class="facebook"></i></a>
            <a href="#"><i class="twitter"></i></a>
            <a href="#"><i class="dribble"></i></a>
            <a href="#"><i class="google"></i></a>
            <a href="#"><i class="youtube"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
</body>
</html>